.projects-container {
  /* border: 1px white solid; */
  margin-top: 50px;
  padding: 10px;
  color: #f3eeea;
}

.projects-container h2 {
  color: white;
  font-weight: bold;
  font-size: xx-large;
  text-align: left;
}
.projects-container h4 {
  font-size: x-large;
  color: #F08080;
}
