.projects-container {
  border: 1px white solid;
  margin: 20px;
  padding: 10px;
  color: #f3eeea;
}

.projects-container h2 {
  color: #f6b17a;
  font-weight: bold;
  font-size: 40px;
}
.projects-container h4 {
  font-size: 25px;
  color: #ffcf81;
}
.projects-container h4 {
  font-size: 25px;
  color: #ffcf81;
}
