.title{
  color: white;
  font-weight: 600;
  font-size: 35px;
  text-align: left;
  margin: 25px 0px 20px 0px;
  
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.project-title{

    font-size: x-large;
    color: #F08080;
    margin: 0;
    animation: fade-right 0.7s ease-in-out;
    border-radius: 8px;
    background:transparent ;
}

.project-card{
    display: flex;
    flex-direction: column;
    animation: fade-right 0.7s ease-in-out;
    width: 400px;
    padding: 8px;
    border:2px  solid;
    border-radius: 16px;
    transition: transform 0.7s ease,border 0.7s ease;

}
.projects:hover .project-card {
  transform: scale(0.8);
}

.projects .project-card:hover {
  transform: scale(1.2);
  border: 2px lightcoral solid;
}

.projects:hover .project-card:hover {
  transform: scale(1.2);
}

.projects:hover .project-card:not(:hover) {
  transform: scale(0.8);
}
.project-stack{
  background: transparent;
}
    
.stocks-prediction:hover{
  cursor:pointer;
}
.project-card-header{
  display:flex ;
  flex-direction:row ;
  justify-content: space-between;
  padding: 20px 0px;

}
.stock-pic{
  height: 200px;
  width: 380px;
  background-image: url("./Stocks-home.jpg");
  background-size: cover;
  border-radius: 8px;
}
.refuge-aid-pic{
  height: 200px;
  width: 380px;
  background-image: url("./refugeap-home.jpg");
  background-size: cover;
  border-radius: 8px;
}
.private-cloud-pic{
  height: 200px;
  width: 380px;
  background-image: url("./Cloud-app-home.jpg");
  background-size: cover;
  border-radius: 8px;
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-300px) ;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-right {
  from {
    opacity: 0;
    transform: translateX(300px) ;
  }
  to {
    opacity: 1;
  }
}
@media (max-width:768px) {
    .title{
      color: white;
      font-weight: 600;
      font-size: xx-large;
      text-align: left;

    }

    .projects {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 100;

    }

    .project-title{
        background-color: inherit;
        font-size: large;
        color: #F08080;
        animation: fade-right 0.7s ease-in-out;
        border-radius: 8px;
        background:transparent ;
    }

    .project-card{
        display: flex;
        flex-direction: column;
        animation: fade-right 0.7s ease-in-out;
        width: 100;
    }
    .project-card:hover{
        background-color: whitesmoke;

        
    }
    .project-card-header{
      display:flex ;
      flex-direction:row ;
      justify-content: space-between;

    }
    @keyframes fade-left {
      from {
        opacity: 0;
        transform: translateX(-300px) ;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes fade-right {
      from {
        opacity: 0;
        transform: translateX(300px) ;
      }
      to {
        opacity: 1;
      }
    }
  
}