.intro-box {
  border: 1px white solid;
  
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  color: #faf6f0;
  height: 200px;
  width: 100;
}
.pfp{
  border: 4px lightcoral solid;
  border-radius: 50%;
  width:150px;

}

.contact-details a {
  color: #faf6f0;
  margin: 10px;
}
