.container {
  border: 1px white solid;
  padding: 10px;
}

.intro h1 {
  color: black;
  font-family: fantasy;
  text-shadow: 2px;
  font-size: 100px;
}
.contact-details a {
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  float: right;
}
