.rlist a{
  color: aliceblue;
  font-style: normal;
  text-decoration: none;
  margin: 10px;
  font-size: x-large;
}
.rlist a:hover {
  color:lightcoral;
  
}
.name{
  font-size: x-large;
  font-weight:bold;
  color: lightcoral;
  text-decoration: none;
}
.name:hover{
  color:white;
}
.menu{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: monospace;
  font-size:large;
  max-width: 1600px;
  min-width: 90px;
}


