.menu a {
  color: aliceblue;
  font-style: normal;
  text-decoration: none;
  
}
.menu a:hover {
  color:lightcoral;
  
}
.name{
  
}
.menu{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: monospace;
  font-size:x-large;
  font-weight:800;
}


