.slidingwindow{
    padding: 20px 0px;
}
.slide-item{
   display: flex;
   flex-direction:row; 
   justify-content: space-around;
   overflow: hidden;
   margin: 10px auto;
   
   
}
.project-title{
    background-color: inherit;
    border-radius: 8px;
}

.project-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    border-radius: 8px;
}
.project-card:hover{
    background-color: whitesmoke;
    
}

.project-stack{
    padding: 5px auto;

    border-radius: 8px;
    background: transparent;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(calc(-100% + 800px)); /* End after 800px */
  }
}
@media (max-width:768px) {
   .slide-item{
   display: flex;


   
   
}
    
}
.react{
    color:#5ED4F3;
}
.nodejs{
    color:#7AD253;
}
.mysql{
    color:#087993;
}
.postgresql{
    color:#31648C;
}
.sql{
    color:#E59208;
}
.springboot{
    color:#6AAD3D;
}
.gcp{
    color: orange;
}
.docker{
    color:#1D63ED;
}
.kubernetes{
    color:#3069DE;
}