.tech-stack{
    color: white;
    display:flex;
    flex-direction: column;
    animation: fade-right 0.7s ease-in-out;
    font-family: monospace;
    padding-top: 20px;
    max-width: 860px;
    margin: 0 auto;
}
.subtitle{
   color: lightcoral;
   
}

.section{
    display: flex;
    flex-direction: row;
    justify-content:left;

}
.technologies{
    display: flex;
    flex-direction: row;
    padding-inline: 20px;
}
.react{
    color:#5ED4F3;
}
.nodejs{
    color:#7AD253;
}
.mysql{
    color:#087993;
}
.postgresql{
    color: #336791;
}
.sql{
    color:#E59208;
}
.sqlite{
    color: #90CCEB;
}
.springboot{
    color:#6AAD3D;
}
.gcp{
    color: orange;
}
.docker{
    color:#1D63ED;
}
.kubernetes{
    color:#3069DE;
}
@media (max-width:768px) {
    .tech-stack{
        color: white;
        display:flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px; 
        animation: fade-left 0.7s ease-in-out;
        font-family: monospace;
    }
    .title {
        margin-top: 30px 0px;
        font-size: xx-large;
        color: lightslategray;

    }
    .item {
        /* margin-top: 30px; */
        /* margin: 15px 10px; */
        
        font-size: xx-large;
        
        --height:3.5rem ;
        height: var(--height);
        line-height:var(--height);
        overflow: hidden;
        text-align: left;
        
    }
    .item ul {
        animation: slide-up 12s infinite;
        font-weight: 500;
        white-space: nowrap;
    }
}