.tech-stack{
    color: white;
    display:flex;
    margin-left: 190px;
    animation: fade-right 0.7s ease-in-out;
    font-family: monospace;
}
.title {
    margin-top: 30px;
    font-size: 30px;
    color: lightslategray;

}
.item {
    /* margin-top: 30px; */
    /* margin: 15px 10px; */
    font-size: 30px;
    --height:3.8rem ;
    height: var(--height);
    line-height:var(--height);
    overflow: hidden;
    margin-top: 20px ;
    
}
.item ul {
    animation: slide-up 12s infinite;
    font-weight: 500;
    white-space: nowrap;
}
@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-300px) ;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-up {
    0%, 10% {
        transform: translateY(-10%);
    }
    15%, 25% {
        transform: translateY(-135%);
    }
    30%, 40% {
        transform: translateY(-260%);
    }
    45%, 55% {
        transform: translateY(-390%);
    }
    60%, 70% {
        transform: translateY(-515%);
    }
    75%, 85% {
        transform: translateY(-640%);
    }
}
.react{
    color:#5ED4F3;
}
.nodejs{
    color:#7AD253;
}
.mysql{
    color:#087993;
}
.sql{
    color:#E59208;
}
.springboot{
    color:#6AAD3D;
}
.docker{
    color:#1D63ED;
}
.kubernetes{
    color:#3069DE;
}
@media (max-width:768px) {
    .tech-stack{
        color: white;
        display:flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px; 
        animation: fade-left 0.7s ease-in-out;
        font-family: monospace;
    }
    .title {
        margin-top: 30px 0px;
        font-size: xx-large;
        color: lightslategray;

    }
    .item {
        /* margin-top: 30px; */
        /* margin: 15px 10px; */
        
        font-size: xx-large;
        
        --height:3.5rem ;
        height: var(--height);
        line-height:var(--height);
        overflow: hidden;
        text-align: left;
        
    }
    .item ul {
        animation: slide-up 12s infinite;
        font-weight: 500;
        white-space: nowrap;
    }
}