.tech-stack{
    color: white;
    display:flex;
    flex-direction: column;
    margin-left: 190px;
    max-width: 700px;
    animation: fade-right 0.7s ease-in-out;
    font-family: monospace;
    padding-top: 20px;
}
.subtitle{
   color: lightcoral;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}   
.technologies{
    display: flex;
    flex-direction: row;
    margin: 5px 10px;
    font-size:16px ;
    font-weight: 900;
}

.react{
    color:#5ED4F3;
}
.nodejs{
    color:#7AD253;
}
.mysql{
    color:#087993;
}
.postgresql{
    color: #336791;
}
.sql{
    color:#E59208;
}
.sqlite{
    color: #90CCEB;
}
.springboot{
    color:#6AAD3D;
}
.gcp{
    color: orange;
}
.docker{
    color:#1D63ED;
}
.kubernetes{
    color:#3069DE;
}
@media (max-width:768px) {
    .tech-stack{
    color: white;
    display:flex;
    flex-direction: column;
    justify-items: left;

    margin: 0 auto;
    animation: fade-right 0.7s ease-in-out;
    font-family: monospace;
    padding-top: 20px;

    margin: 0 auto;
    }
    .subtitle{
    color: lightcoral;
    align-items: left;
    
    }

    .section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .technologies{
        display: flex;
        flex-direction: row;
        justify-content: right;

    }
}