/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: inherit; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #4a2a71; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-right: inherit;
}

/* The navigation menu links */
.sidenav a {
  margin-top: 25px;
  padding: 6px 20px 10px 10px;
  text-decoration: none;
  font-size: 35px;
  text-align: center;
  color: #efecf2;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #22afb9;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.sidenav .profile-picture {
  border-radius: 70%;
  padding: 25px;
  width: 200px;
}
/* main content*/
.intro_section {
  padding-left: 200px;
  font-size: 500px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.social_links {
  padding-left: 200px;
  display: grid;
  text-align: right;
}

.projects_section {
  padding-left: 200px;
  margin: 10px;
}

.experience {
  padding-left: 200px;
  margin: 10px;
}
.sub-title {
  text-align: center;
}
