/* main content*/
*{
  box-sizing: border-box;
  background-color: #0C0F11;
}
.main{
  max-width:800px;
  padding: 16px;
  margin: 30px auto;

}
.scroll-watcher {
  height: 2px;
  position:sticky;
  top: 0;
  z-index: 1000;
  background-color: lightcoral;
  width: 100%;
  scale: 0 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
  transition: width 0.3s;
}
@keyframes scroll-watcher{
  to {scale: 1 1;}
}