/* main content*/
.content {
  background-color: #43766c;
  margin-bottom: 0px;
}
.intro_section {
  padding-left: 220px;
  padding-top: 10px;
  font-size: 500px;
}
.social_links a {
  padding-left: 200px;
  color: #f8fae5;
}

.projects_section {
  padding-left: 200px;
  margin: 10px;
}

.experience {
  padding-left: 200px;
  margin-left: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.sub-title {
  text-align: center;
  color: #fbfada;
}
.project_name {
  color: #c7b7a3;
}
